.colorbotonform{
    background-color: green;
}

.relative{
    width: 100%;
    height: 1112px;
    filter: brightness(60%);
    position: relative;
    overflow: hidden;
    justify-content: center;
}

.absolute{
  position: absolute;
    font-size: 20px;
    color: whitesmoke;
    bottom: 4%;
    text-align: end;
    right: 9%;
    width: 550px;
    overflow: hidden;
 }

.imgbanner{
display: block;
margin-top: auto;
margin-bottom: auto;
width: 100%;
}
.estiloButton{
    background-color: rgb(41,167,87);
    border-color:rgb(41,167,87) ;
}

